a {
  text-decoration: none; }

#header {
  font-size: 36px;
  margin-top: 18px;
  padding-top: 18px;
  text-align: center; }

#leftbar, #rightbar {
  padding-top: 72px;
  font-size: 16px; }
  #leftbar a, #rightbar a {
    display: block; }

#leftbar {
  text-align: right; }
  #leftbar .links {
    padding-right: 10px; }

#rightbar .links {
  padding-left: 10px; }

#content {
  padding-top: 18px; }
  #content h3 {
    font-size: 24px;
    text-align: right;
    padding-right: 36px;
    border-right: 1px solid #cccccc; }
  #content p {
    padding: 18px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px; }
  #content a {
    color: #dd3333;
    font-weight: bold;
    text-shadow: #030303 3 3 2; }
  #content .gist {
    padding: 18px; }

#footer {
  padding: 9px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 9px; }
