<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Under Construction - {{ page.title }}</title>
  <meta content='Cody Maggard' name='author' />
  <link href='/css/reset.css' rel='stylesheet' type='text/css' />
  <!-- Blueprint -->
  <link href='/css/screen.css' media='screen, projection' rel='stylesheet' tyle='text/css' />
  <link href='/css/print.css' media='print' rel='stylesheet' tyle='text/css' />
  <!--[if lt IE 8]>
    <link href='/css/ie.css' media='screen' rel='stylesheet' tyle='text/css' />
  <![endif]-->
  <!--[endif]>
  <![endif]-->
  <link href='/css/cmaggard.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='container'>
    <div class='span-24 last' id='header'>
      <h2>-Under Construction-</h2>
    </div>
    <div class='span-18' id='content'>
      {{ content }}
    </div>
    <div class='span-6 last' id='sidebar'>
      SIDEBAR STUFF
    </div>
    <div class='span-24 last' id='footer'>
      (c) Cody Maggard 2010
    </div>
  </div>
</body>
