<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Under Construction - {{ page.title }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='Cody Maggard' name='author' />
    <!-- Blueprint -->
    <link href='/css/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <link href='/css/print.css' media='print' rel='stylesheet' type='text/css' />
    <!--[if lt IE 8]>
      <link href='/css/ie.css' media='screen' rel='stylesheet' type='text/css' />
    <![endif]-->
    <link href='/css/cmaggard.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='container'>
      <div class='span-24 last' id='header'>
        <h2>-Under Construction-</h2>
      </div>
      <div class='span-3' id='leftbar'>
        <div class='links'>
          <a href='/about.html'>me</a>
          <a href='/projects.html'>my work</a>
          <br />
          <a href='http://twitter.com/cmaggard'>twitter</a>
          <a href='http://www.facebook.com/cmaggard'>facebook</a>
          <a href='http://cmaggard.posterous.com'>posterous</a>
        </div>
      </div>
      <div class='span-18' id='content'>
        {{ content }}
      </div>
      <div class='span-3 last' id='rightbar'>
        <div class='links'>
          categories
        </div>
      </div>
      <div class='span-24 last' id='footer'>
        (c) Cody Maggard 2010
      </div>
    </div>
  </body>
</html>
